/*noinspection CssUnusedSymbol*/
.image-right {
  float: right;
}

/*noinspection ALL,CssUnusedSymbol,CssUnusedSymbol*/
.image-left {
  float: left;
}

a {
  color: black;
}

a:hover {
  color: #035E7B;
  text-decoration: underline;
}
