<div class="container">
  <div class="menu">
    <h1>Unit {{unit.order}}</h1>
    <h2>{{unit.title}}</h2>
    <hr>
    <h2> Contents</h2>
    <ol>
      <li *ngFor="let lesson of unit.lessons">
        <a (click)="selectLesson(lesson)">
          <span *ngIf="lesson.type === lessonType.Video">VIDEO:</span>
          <span *ngIf="lesson.type === lessonType.Quiz">QUIZ:</span>
          {{ lesson.title }}
        </a>
      </li>
    </ol>
  </div>
  <div class="contentpane">
    <!--suppress AngularInvalidExpressionResultType -->
    <app-text-lesson *ngIf="selectedLesson?.type === lessonType.Text" [lesson]="selectedLesson"></app-text-lesson>
    <!--suppress AngularInvalidExpressionResultType -->
    <app-video-lesson *ngIf="selectedLesson?.type === lessonType.Video" [lesson]="selectedLesson"></app-video-lesson>
    <!--suppress AngularInvalidExpressionResultType -->
    <app-quiz-lesson *ngIf="selectedLesson?.type === lessonType.Quiz" [lesson]="selectedLesson"></app-quiz-lesson>
  </div>
</div>
