

.lessonwrapper{
  margin: 4em;
}

.video-wrapper{
  text-align: center;
}

h1 {
  margin: 0;
  text-align: center;
  color: #EFF7F6;
  font-family: "Century Gothic", serif;
  background: #035E7B;
  box-shadow: 3px 3px 5px 6px #ccc;

}



p {
  font-size: larger;
}

/*noinspection ALL,CssUnusedSymbol*/
.bodylink {

}
.bodylink a {
  color: black;
}

.bodylink a:hover {
  color: #035E7B;
  text-decoration: underline;
}

.block-quote-body {
  font-size: smaller;
  background: white;
  box-shadow: black;
}

.spacer {
  height: 100px;
}

.button-wrapper {
  text-align: center;
  display: flex;
}

.button-row-item {
  width: 50%;
}

button {
  color: white;
  background-color: #035E7B;
  width: 500px;
  font-size: x-large;
  box-shadow: black;
  height: fit-content;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}

button:hover {
  background-color: #338EAB;
}

button:disabled {
  background-color: dimgrey;
}
