<div class="outerwrapper">
  <div class="container">
    <div class="menu">
      (Options Button)
      <ul>
        <li>
          <a routerLink="/">
            Return to Front Page</a>
        </li>
        <li *ngFor="let unit of course, let i = index">
          <a (click)="selectUnit(unit)">
          <span class="menu-unit-number">Unit {{i + 1}}</span> <br>
            {{unit.title}}
          </a>
        </li>
      </ul>
    </div>
    <div class="contentpane">
      <app-unit [unit]="selectedUnit" *ngIf="selectedUnit"></app-unit>
      <app-main-page *ngIf="!selectedUnit"></app-main-page>
    </div>
  </div>
</div>
