<div class="coursetitle">
  CS6460 Student Project<br>
  {{course.title}}
</div>

<div class="lessonwrapper">

  <div style="border: 1px black solid; padding: 10px">
    <strong>Course Author<span *ngIf="course.author.length > 1">s</span>: </strong>
    <span *ngFor="let author of course.author; let i = index">{{author}}<span
      *ngIf="i < course.author.length - 1">, </span></span><br>
    <strong>Date:</strong> {{course.date}}<br>
    <strong>Short Description:</strong> {{course.description}}
  </div>

  <hr>
  <h2>Description</h2>
  <p>
    This is a student project in Continuing Medical Education/Continuing Professional Development for healthcare
    providers regarding Transgender and/or Nonbinary patients. The course and this host application were developed by
    Elizabeth Shivers (<a href="mailto:jshivers3@gatech.edu">jshivers3@gatech.edu</a>) for Georgia Institute of
    Technology's CS6460 Educational Technology. Please keep in mind that this app is only intended to demonstrate the
    course material, and is not a fully functional web application. This version of the application should only be
    viewed on a desktop device, as it is not designed to be responsive for mobile devices (though a larger tablet should
    be fine).
  </p>
  <h2>Demo Instructions</h2>
  <p>
    To get started, select Unit 1 in the left menu. This will open the unit's menu as well as the first lesson in the
    unit. This course moves linearly through the materials, and includes written text lessons, video lessons, and
    quizzes. Quizzes are not designed to be graded, and are only intended as concept reinforcement.
  </p>

  <h2>Abstract</h2>
  <p>Every year medical providers are required to participate in Continuing Medical Education (CME) to maintain their
    licenses. Educational Technology is providing an avenue for delivering CME content effectively and efficiently. At
    the same time, the need for increased medical provider knowledge regarding both medical and cultural aspects of
    care for patients who are Transgender and/or Nonbinary has not been addressed. The goal of this project is to
    develop Transgender and Nonbinary CME content, utilizing Educational Technology to address a rapidly changing
    landscape of care for these patients as well as address key cultural knowledge that is often omitted from purely
    technical areas of education, improving overall provider knowledge and, as a result, quality of care.</p>

  <h2>Project Deliverables</h2>
  <ol>
    <li><a href="https://github.com/EllieShivers/cme-demo-platform/blob/master/deliverables/Assignment%201.pdf"
           target="_blank">Week 1 Journal (PDF)</a></li>
    <li><a href="https://github.com/EllieShivers/cme-demo-platform/blob/master/deliverables/assignment%202.pdf"
           target="_blank">Week 2 Journal (PDF)</a></li>
    <li><a href="https://github.com/EllieShivers/cme-demo-platform/blob/master/deliverables/assignment%203.pdf"
           target="_blank">Week 3 Journal (PDF)</a></li>
    <li><a href="https://github.com/EllieShivers/cme-demo-platform/blob/master/deliverables/Qualifier%20Question.pdf"
           target="_blank">Qualifier Question (PDF)</a></li>
    <li><a href="https://github.com/EllieShivers/cme-demo-platform/blob/master/deliverables/Project%20Proposal.pdf"
           target="_blank">Project Proposal (PDF)</a></li>
    <li><a href="https://github.com/EllieShivers/cme-demo-platform/blob/master/deliverables/Milestone%201.pdf"
           target="_blank">Milestone 1 (PDF)</a></li>
    <li><a href="https://www.youtube.com/watch?v=455pGhvw6bU&feature=youtu.be" target="_blank">Milestone 1 Pesentation
      Video (YouTube Link)</a></li>
    <li><a href="https://github.com/EllieShivers/cme-demo-platform/blob/master/deliverables/Milestone%202.pdf"
           target="_blank">Milestone 2 (PDF)</a></li>
    <li><a href="https://www.youtube.com/watch?v=Qiu8lGgu81Y&feature=youtu.be" target="_blank">Milestone 2 Pesentation
      Video (YouTube Link)</a></li>
  </ol>

</div>
