<div class="coursetitle">
  CS6460 Student Project<br>
  Transgender and Nonbinary Care from a Social Perspective
</div>

<div class="lessonwrapper">
  <p>
    This is a student project in Continuing Medical Education/Continuing Professional Development for healthcare
    providers regarding Transgender and/or Nonbinary patients. The course and this host application were developed by
    Elizabeth Shivers (<a href="mailto:jshivers3@gatech.edu">jshivers3@gatech.edu</a>) for Georgia Institute of
    Technology's CS6460 Educational Technology. Please keep in mind that this app is only intended to demonstrate the
    course material, and is not a fully functional web application. This version of the application should only be
    viewed on a desktop device, as it is not designed to be responsive for mobile devices (though a larger tablet should
    be fine).
  </p>

  <h2>Demo Instructions</h2>
  <p>
    To get started, select Unit 1 in the left menu. This will open the unit's menu as well as the first lesson in the
    unit. This course moves linearly through the materials, and includes written text lessons, video lessons, and
    quizzes. Quizzes are not designed to be graded, and are only intended as concept reinforcement.
  </p>

  <h2>Project Deliverables</h2>
  <ol>
    <li>Week 1 Journal (PDF)</li>
    <li>Week 2 Journal (PDF)</li>
    <li>Week 3 Journal (PDF)</li>
    <li>Qualifier Question (PDF)</li>
    <li>Project Proposal (PDF)</li>
    <li>Milestone 1 (PDF)</li>
    <li>Milestone 1 Pesentation Video (YouTube Link)</li>
    <li>Milestone 2 (PDF)</li>
    <li>Milestone 2 Pesentation Video (YouTube Link)</li>
  </ol>

</div>
