body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
  font-family: "Century Gothic", serif;
}

.outerwrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.menu {
  padding-top: 40px;
  overflow-y: auto;
  background: #035E7B;
  flex-basis: 15%;
  flex-shrink: 0;
  flex-grow: 0;
}

.contentpane {
  overflow-y: auto;
  flex-grow: 1;
  background: #F3F4F1;
}

.menu ul {
  list-style: none;
  font-family: "Century Gothic", serif;
  font-size: 18px;
  color: #EFF7F6;
}

.menu li {
  font-weight: bold;
  margin-bottom: 10px;

}

.menu-unit-number {
  font-size: 25px;
}

.menu a {
  color: #EFF7F6;
  text-decoration: none;
}

.menu a:hover {
  color: #F7D6E0;
  cursor: pointer;
}

.citation-wrapper {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
.citation {
  text-indent: -20px;
  margin-left: 20px;
  font-family: "Times New Roman", serif;
}

.citation a {
  color: inherit;
  text-decoration: none;
}

.citation a:hover {
  color: inherit;
  text-decoration: underline;
}

.lessonwrapper{
  margin: 20px;
}



.block-quote-body {
  font-size: small;
  background: ghostwhite;
  box-shadow: 3px 3px 5px 6px #ccc;
  margin: 40px;
  font-weight: normal;
  padding: 20px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.vocab-wrapper {
  margin-left: 30px;
  font-size: larger;
}
.vocab-term {
  float: left;
  font-weight: bold;
  font-style: italic;
}

.in-line-image-wrapper{
  text-align: center;
}
.in-line-image {
  max-width: 65%;
}
