body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
  font-family: "Century Gothic", serif;
}

.outerwrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.menu {
  overflow-y: auto;
  background: #035E7B;
  flex-basis: 15%;
  flex-shrink: 0;
  flex-grow: 0;
}

.contentpane {
  overflow-y: auto;
  flex-grow: 1;
  background: #F3F4F1;
}

ul {
  list-style: none;
  font-family: "Century Gothic", serif;
  font-size: 18px;
  color: #EFF7F6;
}

li {
  font-weight: bold;
  margin-bottom: 10px;

}

.menu-unit-number {
  font-size: 25px;
}

a {
  color: #EFF7F6;
  text-decoration: none;
}

a:hover {
  color: #F7D6E0;
  cursor: pointer;
}

.citation-wrapper {
  display: flex;
}
.citation {
  text-indent: -20px;
  margin-left: 20px;
  flex-basis: 50%;
  font-family: "Times New Roman", serif;
}
