.questionwrapper {
  padding: 20px;
}
.question-text {
  font-size: larger;
}

.question-answer {
  padding: 10px;
}

.correct {
  background: lightgreen;
}

.incorrect {
  background: palevioletred;
}

.feedback {
  font-weight: bold;
  padding: 10px;
  width: fit-content;
}
