<!--suppress ALL -->
<h1 xmlns="http://www.w3.org/1999/html">QUIZ: {{lesson.title}}</h1>
<div class="lessonwrapper">

  <div class="questionwrapper radiocontainer"
       *ngFor="let question of lesson.questions, let questionIndex = index, let feedback = null">

    <div class="question-text">{{ questionIndex + 1 }}. {{question.questionText}}</div>

    <div *ngIf="question.questionType === questionType.MultipleChoice">
      <div class="question-answer" *ngFor="let answer of question.possibleAnswers, let answerIndex =index">
        <input class="radio" type="radio" id="{{answer}}{{answerIndex}}" name="{{question.questionText}}" value="{{answerIndex}}"
               (click)="selectAndCheckAnswer(answerIndex + 1, questionIndex)">
        <label for="{{answer}}{{answerIndex}}">{{answer}}</label>
      </div>
    </div>

    <div *ngIf="question.questionType === questionType.TrueFalse">
      <div class="question-answer">
        <input class="radio" type="radio" id="true{{questionIndex}}" name="{{question.questionText}}" value="true"
               (click)="selectAndCheckAnswer(true, questionIndex)">
        <label for="true{{questionIndex}}">True</label>
      </div>
      <div class="question-answer">
        <input class="radio" type="radio" id="false{{questionIndex}}" name="{{question.questionText}}" value="false"
               (click)="selectAndCheckAnswer(false, questionIndex)">
        <label for="false{{questionIndex}}">False</label>
      </div>
    </div>

    <div class="feedback" *ngIf="selectedAnswers[questionIndex] != 'UNANSWERED'"
         [ngClass]="{
         'correct' : selectedAnswers[questionIndex] === question.correctAnswer,
         'incorrect' : selectedAnswers[questionIndex] != question.correctAnswer}">
      {{selectedAnswers[questionIndex] === lesson.questions[questionIndex].correctAnswer ? 'Correct Answer' : 'Incorrect Answer'}} - {{question.feedback[0]}}
    </div>
  </div>

  <hr>

  <div class="button-wrapper">
    <div class="button-row-item">
      <button (click)="goToPrevious()" *ngIf="!firstLessonInUnit">Return to Previous Lesson</button>
    </div>

    <div class="button-row-item">
      <button (click)="goToNext()" *ngIf="!lastLessonInUnit">Continue to Next Lesson</button>
    </div>
  </div>

  <div *ngIf="lesson.citations">
    <hr>
    <h2>
      Citations
    </h2>
    <div class="citation-wrapper">
      <div *ngFor="let citation of lesson.citations">
        <div class="citation">
          <div *ngIf="citation.link">
            <a href="{{citation.link}}" *ngIf="citation.link" target="_blank">
              {{citation.apaString}}
            </a>
          </div>
          <div *ngIf="!citation.link">
            {{citation.apaString}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
</div>
